.msg-section {
    background-color: bisque;
    width: 75%;
    padding: 5px;
}

.messages-container {
    height: 88%;
    margin: 10px 5px;
}

.form-div {
    border: 1px solid black;
    height: 8%;
}

.form {
    margin: 1%;
}

.form input {
    width: 80%;
}